body {
  color: white;
  background-color: #6be5bc;
  font-family: 'Comfortaa', cursive;
}

h1 {
  color: white;
  font-size: 4em;
}

a:hover {
  text-decoration: none!important;
}

section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
  width: 100%;
  min-height: 100vh;
  background-size: cover;
  background-position: center;
  position: relative;
}

section + section {
  border-top: 60px solid white;
}
section:nth-of-type(even) {
  background-color: #6be5bc;
}

section:nth-of-type(even) a {
  color: #ce9ed6;
}

section:nth-of-type(odd) {
  background-color: #ce9ed6;
}

section:nth-of-type(odd) a {
  color: #6be5bc;
}

/* splash */

.navbar-brand {
  font-family: 'Libre Barcode 128 Text', cursive;
  font-size: 2.5em;
  padding: 0px;
  position: absolute;
  top: -60px;
  margin: auto;
}

a.navbar-brand {
  color: black!important;
}

.nav-fix {
  position: fixed;
  top: 0px;
  z-index: 1;
}

a.down-arrow {
  position: absolute;
  bottom: 30px;
  color: white!important;
  font-size: 2em;
  -webkit-transition: width .1s; /* Safari */
  transition: width .1s;
}

a.up-arrow {
  position: absolute;
  top: 30px;
  color: white!important;
  font-size: 2em;
}

a.down-arrow:hover, a.up-arrow:hover {
  text-decoration: none;
}

span#tim {
  font-family: 'Reenie Beanie', cursive;
  font-size: 3.6em;
  line-height: 1em;
}

span#design {
  font-family: 'Monofett', cursive;
  font-size: 3em;
  letter-spacing: -3.5px;
}

#splash nav a {
  color: white!important;
  font-weight: 600;
}

#splash nav a:hover {
  color: #6be5bc;
}

#splash .nav {
  padding: 4px 10px;
  border: 2.5px solid #6be5bc;
  border-radius: 25px;
  margin-top: 0px;
}

#splash {
  background: url("https://media.giphy.com/media/3o85xGFFW31jqtDgFW/giphy.gif") center/cover;
}

#brand {
  width: 100%;
  margin: 0px auto;
  text-align: center;
}

/* about */
/*
#about {
  background-color: rgba(103, 218, 180, 0.8);
  position: relative;
}

#about::after {
  content: "";
  background: url("../images/timmy-bg.jpeg");
  background-size: cover;
  background-position: right;
  background-repeat: no-repeat;
  opacity: .5;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
}

.card, .card-header {
  background-color: transparent;
  border: none;
}

.card-body {
  padding-top: 20px;
}

span.plus, span.minus {
  color: #C690E5;
  font-size: 2em;
  display: inline-block;
  vertical-align: bottom;
}

span.plus::before {
  content: "+ ";
}

span.minus::before {
  content: "- ";
}

#backgroundCollapse ul {
  line-height: 2em;
}

#accordion ul {
  list-style-type: none;
}

span.year {
  font-family: "Reenie Beanie", cursive;
  color: white!important;
  font-size: 2em!important;
  padding-right: 10px;
}

span.jquery {
  font-family: "Fresca", cursive;
  color: white!important;
  font-size: 1em!important;
  padding-right: 10px;
}

#about .btn-link {
  color: white;
  font-size: 2rem;
  line-height: 1em;
}

#about .btn-link:hover, #portfolio .btn-link:focus, #portfolio .btn-link:active {
  color: #C690E5;
  text-decoration: none;
} */

/* portfolio */

#portfolio {
  flex-flow: column;
  position: relative;
}

#portfolio h3 {
  align-self: flex-start;
  margin-bottom: 20px;
}

a#projectName {
  align-self: flex-start;
  height: 20px;
  margin-bottom: 20px;
  color: #fff;
}

/* #portfolio div {
  width: 60%;
  margin-bottom: 10%;
} */
.wrap {
  width: 50%;
}

#projects {
  width: 100%;
  display: grid;
  grid-template: auto auto / repeat(2, 1fr);
  grid-gap: 20px;
  margin-bottom: 10%;
}

#projects p {
  margin-bottom: 0px;
}

#projects a {
  padding-top: 60%;
  border-radius: 3px;
  box-shadow: 5px 5px 15px rgba(188, 188, 188, 0.5);
}

#projects a:hover {
  text-decoration: none;
}

a.levine {
  background: url("../images/Levine.png") center/cover;
}
a.olivieri {
  background: url("../images/Olivieri.png") center/cover;
}
a.butt {
  background: url("../images/Butt.png") center/cover;
}
a.tung {
  background: url("../images/Tung.png") center/cover;
}

/* skills */

#skills .wrap {
  display: flex;
  flex-flow: column;
}

div.group {
  display: flex;
  justify-content: space-around;
  flex-flow: row wrap;
  font-weight: 600;
}
div.group + div.group {
  border-top: 2px solid rgba(255,255,255, .5);
}

div.group div {
  margin: 25px;
}

/* // contact */

section#contact .nav {
  padding: 4px 10px;
  border-radius: 25px;
  margin-top: 0px;
  border: 2.5px solid white!important;
}

#contact h3 {
  margin-bottom: -6.5px;
  font-weight: 600;
}

#contact a.email {
  border-bottom: 3px solid white;
}

/* form */
/*
div#form {
  width: 50%;
}

#form h3 {
  margin-bottom: 15px;
}

::placeholder {
  color: #bababa!important;
}

.form-control:focus {
  border-color: rgba(198, 144, 229, 0.8)!important;
  box-shadow: 0 0 0 0.2rem rgba(198, 144, 229,.5);
}

.button {
  text-align: right;
}

.btn-primary {
  background: #ce9ed6;
  border: none;
  padding: .5rem 1rem;
}

.btn-primary:hover {
  background: #ce9ed6;
  box-shadow: 0 0 0 0.2rem rgba(198, 144, 229,.5);
}

#form .btn-primary:active {
  background: white!important;
  color: #ce9ed6!important;
  border-color: #ce9ed6!important;
  box-shadow: 0 0 0 0.2rem rgba(198, 144, 229,.5);
} */

@media (max-width: 768px) {

  .wrap {
    width: 60%;
  }
}

@media (max-width: 768px) {

  .wrap {
    width: 90%;
  }
}
